/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/styles/media/index.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.media_richContent__H9NCF {
  --rich-mb: 2rem;
}

.media_richContent__H9NCF a {
  text-decoration: none;
  color: var(--color-text-primary);
}

.media_richContent__H9NCF a:hover {
  color: red;
}

.media_richContent__H9NCF p {
  margin-bottom: var(--rich-mb);
}

.media_richContent__H9NCF > strong {
  display: inline-block;
  margin-bottom: var(--rich-mb);
}

.media_richContent__H9NCF hr {
  margin-bottom: var(--rich-mb);
}

